<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Cover Template for Agriculture Department</title>


 {% load static %}
   <link rel="stylesheet" href="{% static "agriculture/css/main.css" %}" />

  </head>

  <body>

            <div class="header">
              <h1 >Faculty management Portal</h1>
          </div>

          <div class="row">
          <div class="col-3 menu">
          <ul>
          <li><a href="/agriculture/login/#">Log In</a></li>
          <li><a href="/agriculture/insertCall#">Sign Up</a></li>
          </ul>
          </div>

          <div class="col-6">
            <h2 >Agriculture Department Faculty management</h2>
            <p>Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          </div>

          <div class="col-3 right">
 <div class="aside">
 <h2>About Us</h2>
 <p>Agricultural department was established in 1970. It is the one of the poineeting institute in field of agriculture.</p>
 <h2>Where?</h2>
 <p>Being located in middle of the BHU campus it.</p>
 </div>
 </div>
      </div>

            <div class="footer">
              <p>Made by Master Saurav Kumar </p>
            </div>



  </body>
</html>
