<html lang="en">
  <head>
    <title>Cover Template for Agriculture Department</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
      <link rel="stylesheet" href="{% static "agriculture/css/main0.css" %}" />


  </head>

  <body>
            <div>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/agriculture/">Home</a></li>
                  <li><a href="">Inserting</a></li>
                </ul>
              </nav>

          <div>
            <h2>Successfully inserted in to database.</h2>

          </div>

</html>
