<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cover Template for Agriculture Department</title>
    {% load static %}
      <link rel="stylesheet" href="{% static "agriculture/css/main0.css" %}" />



  </head>

  <body>

              <h3>Faculty management Portal</h3>
              <nav>
                <ul>
                  <li class="active"><a href="/agriculture/">Home</a></li>
                  <li><a href="/agriculture/logout/">Log out</a></li>
                </ul>
            <div class ="row">
          <div class="col-3">
            <h2><a href="/agriculture/updateAddress"> update address</a><h2>
            <h2><a href="/agriculture/supervises"> add supervising</a><h2>
            <!--<h2><a href="/agriculture/print">My details</a><h2>-->
          </div>
      </div>

          <div class="footer">
              <p>Agricultural Department Faculty Management Portal </p>
          </div>
  </body>
</html>
