<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Cover Template for Agriculture Department</title>

    {% load static %}
      <link rel="stylesheet" href="{% static "agriculture/css/main0.css" %}" />


  </head>
  <body>
                <ul>
                  <li><a href="/agriculture/">Home</a></li>
                </ul>

          <div>
            <h2 class="cover-heading">Successfully logged out.</h2>
          </div>

    </div>
  </body>
</html>
